body
{
    margin: 0;
    padding: 0px;
    background: rgb(9,5,87);
    background: radial-gradient(circle, rgba(9,5,87,1) 0%, rgba(36,36,167,1) 39%, rgba(0,212,255,1) 100%);
    font-family: 'Arial';
}
.login{
        width: 380px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 87px;
        background: rgb(255, 217, 217);
        background: radial-gradient(circle, rgb(255, 217, 217,0.5) 0%, rgba(148,187,233,0.8) 100%);
        border-radius: 35px ;

}
h2{
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: -5px 0 rgb(6, 70, 188), 0 2px black, 1px 0 black, 0 -1px black;
    padding: 20px;
}
label{
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 5px;
    
    
}
#Uname{
    
    width: 360px;
    height: 30px;
    border: solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}

#Email{
    
    width: 360px;
    height: 30px;
    border: solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}
#Pass{
    width: 360px;
    height: 30px;
    border: solid black;
    border-radius: 10px;
    padding-left: 5px;
    margin-top: 5px;

}
#log{
    width: 200px;
    height: 30px;
    border: solid black;
    margin-left:88px;
    border-radius: 17px;
    padding-bottom: 7px;
    padding-top: 3px;
    color:black;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;


}

#log:hover{
    background-color:rgba(68, 40, 170, 0.2);
    color:white;
    border-color: white;
    font-weight: bold;
}
span{
    color: white;
    font-size: 16px;
}
a{
    float: left;
    background-color: white;
    color: black;
    margin-left: 25px;
    margin-top: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    border:solid black;
    font-size: 15px;
    transition: opacity 2s;
    cursor: pointer;
}

a:hover{
    background-color:rgba(68, 40, 170, 0.2);
    color:white;
    border-color: white;
}

a:active{
    text-decoration:wavy;
}
.a 
{
    float: right;
    background-color: white;
    color: black;
    margin-right: 25px;
}
